@font-face {
  font-family: codeNewRomanFont;
  src: url(codenewroman.woff2) format("woff2");
}

@font-face {
  font-family: albaFont;
  src: url(alba.woff2) format("woff2");
}

body {
    font-family: codeNewRomanFont, Courier New, Monospace;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.container {
    width: 55%;
    margin: auto;
}

header {
    background-color: black;
    color: white;
}

header .container {
    padding: 5px;
}

header h1 {
    margin: 0px;
    font-family: albaFont;
    font-size: 3em;
}

header .subheader {
    font-size: .9em;
}

article .day-box {
    display: flex;
}

article .day-box .short-day {
    padding-top: 45px;
    padding-left: 20px;
    color: #7f7f7f;
}

article h2 {
    font-family:albaFont;
    font-size: 1.8em;
    margin: 20px 0px 5px 0px;
}

section.event {
    padding: 15px 0px 15px 0px;
}

section p,h3 {
    margin: 0;
    padding: 0;
}

section.event .event-details .description {
    padding: 5px 0px 5px 0px;
}

section.event .event-details .website img {
    height: 20px;
}

section.event .event-details .addr {
    color: #7f7f7f;
}


.icons {
    display: flex;
    margin-top: 8px;
}

.icon {
    margin-right: 20px;
    height: 25px;
}

@media only screen and (max-width: 640px) {
    body {
        font-size: 15px;
    }

    .container {
        width: 90%;
    }

    article .day-box .short-day {
        padding-top: 37px;
    }

    section.event .event-details .address-icons {
        display: flex;
    }

    section.event .event-details .website {
        margin-left: 15px;
        padding-left: 5px;
    }

    .icons {
        margin: 0px;
    }

    .icon {
        margin-left: 20px;
        margin-right: 0px;
        height: 25px;
    }

}
