@font-face {
  font-family: codeNewRomanFont;
  src: url(codenewroman.woff2) format("woff2");
}

@font-face {
  font-family: albaFont;
  src: url(alba.woff2) format("woff2");
}

body {
    font-family: codeNewRomanFont, Courier New, Monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.container {
    width: 65%;
    margin: auto;
}

header {
    background-color: black;
    color: white;
}

header h1 {
    margin: 0px;
    font-family: albaFont;
    font-size: 3.5em;
}

header .tagline {
    font-size: .9em;
    //padding-left: 5px;
}

header .subheader {
    background-color:#f5f5f5;
    color:black;
    font-size: 1.2em;
}

header .container {
    padding-bottom: 5px;
}

h2 {
    margin: 0px;
    padding: 0px;
}
h2 a { color: black; text-decoration: none; }
h2 a:active { color: black; }
h2 a:visited { color: black; }

.week-box {
    margin: 0px;
    padding: 7px 0px 5px 0px;
    background-color: #d3d3d3;
    text-align: center;
}

.day-jump {
    margin: 0px;
    padding: 0px;
    background-color: #d3d3d3;
}

.day-jump nav ul {
    padding: 5px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    font-size: 1.2em;
}

.day-jump nav li {
    font-family: albaFont;
}

.day-jump li a { color: black; text-decoration: none; }
.day-jump li a:active { color: black; }
.day-jump li a:visited { color: black; }

article {
    margin: 10px 0px 0px 0px;
}

article .day-box {
    margin-bottom: 10px;
}

article .day-box .date {
    margin: 0px;
    color: #7f7f7f;
}

article .day-box a { color: black; text-decoration: none; }
article .day-box a:active { color: black; }
article .day-box a:visited { color: black; }
article .day-box .date a { color: #7f7f7f; text-decoration: none; }
article .day-box .date a:active { color: #7f7f7f; }
article .day-box .date a:visited { color: #7f7f7f; }

article h3 {
    text-align: center;
    margin: 0px;
    display: flex;
}

article h3:before, article h3:after {
    content: ""; 
    flex: 1 1; 
    border-bottom: 1px solid #000; 
    margin: auto;
}

section.event {
    padding: 10px 0px 10px 0px;
}
section.event .event-name {
    display: flex;
}

section.event-name h4 {
    font-size: 1.2em;
    margin: 0px 0px 5px 0px;
    padding: 0;
}

section.event .event-name a {
    color: black;
    text-decoration: none;
}
section.event .event-name a:active { color: black; }
section.event .event-name a:visited { color: black; }

section.event .event-details .description {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

section.event .event-address {
    display: flex;
}

section.event .event-details .addr {
    margin: 0px;
    padding: 0px;
    font-size: .9em;
    color: #7f7f7f;
}

section.event .event-address img {
    margin: 0px 10px 0px 0px;
    padding: 0px;
    height: 22px;
}

@media only screen and (min-width: 0px) {
    body {
        font-size: 15px;
    }

    .container {
        width: 90%;
    }

    h2 {
        font-size: 1.25em;
    }

    .day-jump nav li {
        margin-right: 11%;
    }

    .week-box .week-of-txt {
        display: none;
    }

    .week-box img {
        height: 14px;
    }

    h3 {
        font-size: 1.2em;
    }

    section.event-name img {
        margin: 1px 0px 0px 10px;
        height: 13px;
    }
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 17px;
    }

    h2 {
        font-size: 1.4em;
    }

    .day-jump nav li {
        margin-right: auto;
    }

    .week-box .week-of-txt {
        display: inline;
    }

    .week-box img {
        height: 18px;
    }

    section.event-name img {
        margin: 2px 0px 0px 10px;
        height: 15px;
    }
}


@media only screen and (min-width: 834px) {
    article .day-box .date {
        padding: 10px 0px 0px 15px;
    }

    section.event .event-address a {
        margin-right: 5px;
    }

    section.event .event-address img {
        margin: 0px;
        padding: 0px;
        height: 20px;
    }

}

@media only screen and (min-width: 1024px) {
    .container {
        width: 614px;
    }
}
